In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
df = pd.read_csv('data_clean.csv')
df

   year  day  hour  min  field
0  2018    1     2   44 -10.32
1  2018    1     2   45 -11.98
2  2018    1     2   46 -11.51
3  2018    1     2   47 -10.57