In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('data_4days.txt', delim_whitespace=True)

In [5]:
df.loc[df['field'] <= -10]

     year  day  hour  min  field
164  2018    1     2   44 -10.32
165  2018    1     2   45 -11.98
166  2018    1     2   46 -11.51
167  2018    1     2   47 -10.57